<div>
  <p>Editing book</p>
  <%= form_with model:@book, local:true do |f| %>
    <label for="book_title">Title</label>
    <div><%= f.text_field :title %></div>
    <p>Body</p>
      <%= f.text_area :body %></br>
      <%= f.submit 'Update Book' %>
  <% end %>
</div>


<span><%=link_to "Show", book_path(@book.id) %></span>
<span> | </span>
<span><%=link_to "Back", books_path %></span>