<h1>Books</h1>

<table>
  <thead>
   <tr>
     <th>Title</th>
     <th>Body</th>
     <th></th>
   </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td>
          <span>Show</span>
          <span>Edit</span>
          <span>Destroy</span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <p>New book</p>
  <%= form_with model:@book, local:true do |f| %>
    <p>Title</p>
      <%= f.text_field :title %>
    <p>Body</p>
      <%= f.text_area :body %></br>
      <%= f.submit 'Create Book' %>
  <% end %>
</div>
